body{
  background-color: #000e;
  color: white;
  /* overflow-x: hidden; */
  margin: 0;
  position: relative;
  min-height: 100vh;
}

.divSubCentral{
  
  display: grid;
  grid-template-columns: repeat(4,300px);
  justify-content: center;
  text-align: center;
}

.divTareas{
  text-align: center;
  border: 3px solid #fff;
  margin: auto;
  width: 1000px;
  border-radius: 10px;
  height: 500px;
}

.divCore{
  padding: 10px;
  border: 3px solid white;
  border-radius: 10px;
  width: 1500px;
  margin: auto;
  height: 1000px;
}

.inputTask, .inputSearch{
  font-size: 20px;
  border-radius: 10px;
}

.contadorDiv{
  border: 3px solid;
  text-align: center;
  width: 50px;
  border-radius: 50%;
  height: 50px;
  font-size: 25px;
}

.divTareasCompletas{
  display: flex;
  justify-content: space-evenly;

}

#navLinks{
  margin-top: 2px;
  padding: 5px;
  text-decoration: none;
  color: black;
}

#navLinkCrud{
  margin-top: 2px;
  text-decoration: none;
  font-size: 25px;
  margin-left: 15px;
}

.formRegister, .formLogin{
  
  display: grid;
  justify-content: center;
  justify-content: space-evenly;
  padding: 60px;
  mask-image: linear-gradient(
    black 95%,
    transparent
  );

}

#pNav{
  color: #0007;
  font-size: 13px;
  margin-top: 10px;
}

.aboutDiv, .divContactenos{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 25px;
}

.crudForm{
  display: grid;
  grid-template-columns: repeat(2,350px);
  justify-content: center;
  margin-right: 200px;

}

.formCrud{
  text-align: center;
  border: 3px solid white;
  border-radius: 15px;
  width: 500px;
  margin: auto;
}

input[type=radio] {
  border: 0px;
  width: 100%;
  height: 2em;
}

.divRadios{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.divInternoElementos, .divExternoElementos{
  display: grid;
  margin-top: 20px;
  gap: 18px;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  position: relative;
}

.M-int{
  width: 500px;
  height: 520px;
  background-color: #fff;
  color: black;
  font-size: 18px;
  border-radius: 15px;
  position: absolute;
  
}

.modalExt{
  width: 500px;
  height: 520px;
  background-color: #fff;
  color: black;
  font-size: 18px;
  border-radius: 15px;
  position: fixed;
}



.btnCloseSesion{
  border: none;
  text-align: center;
  background-color: #48e;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  margin-left: 21px;
  padding: 5px;
}

/*Modal info personal */
.modalInfoP{
  display: grid;
  position: fixed;
  grid-template-columns: 300px 450px;
  grid-template-rows: 170px 310px;
  justify-content: center;
  gap: 20px;
  z-index: 5;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 20px;
  width: 700px;
  height: 600px;
  padding: 15px;
  margin-top: 50px;
  background-color: transparent;
  border: none;
}

.cajasDivInfo:nth-child(1){
  border: 8px solid rgb(52, 73, 104);
  border-radius: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
  
  
}

.cajasDivInfo:nth-child(2){
  border: 8px solid rgb(52, 73, 104);
  border-radius: 10px;
  
}

.cajasDivInfo:nth-child(3){
  border: 8px solid rgb(52, 73, 104);
  border-radius: 10px;
  overflow:auto;
  overflow-x:hidden;

  grid-column-start: 2;
  
}

.cajasDivInfo{
  background-color: #fff;
  padding: 15px;
}



.modalMostrarHTML{
  background-color: blue;
  width: 300px;
  height: 500px;
  color: white;
}

/*Foter*/
.divFoter{
  display: grid;
  grid-template-columns: repeat(2, 700px);
  justify-content: center;
  background-color:black;
  color: white;
 

  bottom: 0;
  left: 0; 
  width: 100%; 
  margin: 0;
}

.divFoter:nth-child(3){
  grid-row-start: 2;
  grid-column-start: 1;
  
}

.subDivF1, .subDivF2{
  display: grid;
  gap: 2px;
  grid-template-rows: 50px;
  justify-content: center;
}


.redesDiv{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 70px);
}

.divsTextFoter{
  font-size: 27px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
}

.buscadorDiv{
  display: flex;
  justify-content: space-between;
  padding: 30px;

}

/*Navbar*/
.bg-body-tertiary{
  z-index: 2;
  background-color: transparent;
  color: transparent;
}

.containerNav{
  background-color: transparent;
  color: transparent;
}

.fondoDragon{
  z-index: -5;
  margin-left: 0;
  margin-right: 0;
  width: 1600px;
  position: relative;
  mask-image: linear-gradient(
    transparent,
    black 99%
  );
}

option{
  color: black;
  font-size: 25px;
}
.selectExtern{
  font-size: 30px;
  padding: 3px;
  text-align: center;
  background-color: transparent;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 4px;
}

/*Modal video yt*/

.modal {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  background-color: #000e;
  border-bottom-right-radius: 40px;
}

.containerr {
  display: flex;
  padding: 10px;
  color:blueviolet;
}

.container img {
  object-fit: cover;
}

/*Contenedores de la */

.CompIntDiv{
  display: grid;
  grid-template-columns: repeat(5, 250px);
  gap: 15px;
  justify-content: center;
  position: relative;
}

.imgProducClient{
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  
}

/*Filtrado*/
#listaArticulos{
  font-size: 30px;
  margin-top: 20px;
  list-style: none;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
li{
  margin: 5px 0;
}

.filtro{
  display: none;
}
/*----------------------*/

#buscador{
  padding: 10px;
  margin-left: 10px;
}

/*Scroll animado*/

@keyframes show{
  from{
    opacity: 0;
    scale: 25%;
  }
  to{
    opacity: 1;
    scale: 100%;
  }
}

.filter {
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 25% cover 50% ;
  animation-fill-mode: both  ;
}



/*Carusel Home*/
.item{
  background: black;
  height: 350px;
  width: 350px;
  text-align:center;
  align-items: center;
  border: 1px solid white;
  margin: auto;
  overflow: hidden;
  transition: background-color 1s ease, color 1s ease;
}

.item:hover{
  background-color: #fff9;
  color: black;
}

.divCarusel{
  margin-top: 60px;
}

/*video*/

.video{
  height: 860px;
  max-height: 600px;
  object-fit: cover;
  width: 1550px;

  mask-image: linear-gradient(
    black 80%,
    transparent
  );
}


.btnGestion{
  background-color: transparent;
  border: none;
  justify-content: center;
}

.h1Home{
  position: absolute;
  margin-left: 550px;
  margin-top: 100px; 
  z-index: 1;
  font-family: "impact";
}

.btnHome{
  position: absolute;
  margin-left: 620px;
  margin-top: 160px;
  background-color: #0008;
  border: 5px solid black;
  border-radius: 5px;
  color: white;
  font-size: 35px;
  padding: 20px;
  width: 330px;
  z-index: 1;
  font-family: "impact";
  transition: all 1s ease;
}

.btnHome:hover{
  border-color: white;
  background-color: transparent;
}


/*imagenes carosel*/
.divElementosCarusel{
  font-size: 30px;
  z-index: 10;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 110px;
  padding: 10px;
  background: linear-gradient(#48e, green);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: text 5s linear infinite;
  
}

@keyframes text{
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(100deg);
  }
}

/*Modal Proceso Compra*/
.divModalProcesoCompra{
  width: 500px;
  height: 520px;
  background-color: #fff;
  color: black;
  font-size: 18px;
  border-radius: 15px;
  position: relative;
  z-index: 5;
  margin-left: 600px;

}

/*Contenedor modal*/
.containerModalInfoP{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3,100px) 20px;

  
}

.divRegistroCarrito{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3,100px) 20px;
 
}

/*Mapa api*/
.mapa{
  height: 400px;
  width: 600px;
 
}